body {
    width: 20rem;
    background: #f7d4db;
    margin: 0;
    padding: 8px;
}

button {
    background: none;
    border: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    border-bottom: 1px solid #f7d4db;
    padding: 8px;
    background: #f7d4db;
}

h1 {
    color: #221d1d;
    font-family: BentonSans, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.product-card {
    margin-right: 4px;
}

.product-list {
    display: flex;
    padding: 8px;
    overflow: scroll;
    background-color: #ffffff;
}

span {
    color: #221d1d;
    font-weight: 200;
    font-family: BentonSans,Helvetica,Arial,sans-serif;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.04em;
    display: block;
}

.product-image {
    height: 130px;
    background-color: #F7F7F8;
    font-size: x-small;
}

.product-price {
    font-weight: 700;
}

.product-family,
.product-swatchCount,
.product-itemLevelCallout,
.product-price {
    color: #605858;
}

.product-name,
.product-rating {
    color: #221d1d;
}

.product-price {
    margin-bottom: 4px;
}

.product-rating {
    font-weight: 400;
    margin-top: 4px;
}

.product-totalReviewCount {
    display: inline-block;
}
